.column-gap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-gap {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.row {
    display: flex;
    flex-direction: row;
}

.input-form {
    padding: 5px;
}

.angle-input-form {
    width: 60px;
}

.output-form {
    border-top: 1px solid gray;
    padding: 5px;
}

.output-excel-form {
    padding: 5px;
}

.choose-form {
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.metric-select {
    width: 60%;
}

.metric-select {
    width: 60%;
}

.metric-select {
    width: 60%;
}

.input-numeric-form{
    width: 60%;
}

.label-form {
    display: flex;
    align-items: center;
}

.component-hidden {
    display: None;
}