.column-gap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-gap {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.long-gap {
    gap: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.upload-form {
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-file {
    width: 140px;
}

.download-excel-file {
    width: 140px;
}

.action-button {
   width: 38px;
   height: 38px;
   font-weight: bold;
}

.angle-input-form {
    width: 60px;
}

.common-label {
    width: 40%;
}

.common-input {
    width: 50%;
}

.input-numeric-form{
    width: 60%;
}

.label-form {
    display: flex;
    align-items: center;
}

.component-hidden {
    display: None;
}

.file-name {
    flex: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.small-padding {
    padding: 5px;
}

.padding-top {
    padding-top: 10px;
}

.border-top {
    border-top: 1px solid lightgray;
}

.error-form {
    position: absolute;
    bottom: 0;
    right: 0;
}

.common-icon {
    height: 2em;
    width: auto;
    filter: invert(1) brightness(2);
    padding: 5px;
}
